[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Werkzeug = "2.2.2"
sqlalchemy-serializer = "1.4.1"
faker = "15.3.2"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
flask-bcrypt = "*"
pytest = "*"

[dev-packages]

[requires]
python_full_version = "3.8.13"
